{% extends "layout.html" %}
{% block body %}
<body>
    <div class="pic">
        <img src="{{url_for ('static',filename='img/login.jpg')}}" alt="login">
        <div class="container">
            <div class="resetpass">
                <h3>Reset Password</h3>
                <form action="/forgot_password" method="post">
                    <label for="email">
                        Email
                    </label><br>
                    <input type="email" class="shape" name="email" placeholder="  Enter Your Email">
                    <br><br>
                    <button class="login-btn" type="submit"><a  style="color: black;">Genrate OTP </a></button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
