{% extends "layout.html" %}
{% block body %}
<body>
    <form class="search" method="post" action="/search">
        <input class="formcontrol" type="search" name="search" placeholder="Search" aria-label="Search"
          style="height: 35px; width:500px;">
        <button class="btn" type="submit" style="height:35px" padding-inline="60px">Search</button>

      </form>
    <div class="home">
    <img src="{{url_for ('static',filename='img/fiction.webp' )}}" alt="">
    <div class="centered_f" >Non-Fiction </div>
    <div class="left_f"> In the end we'll all become stories....</div>
  </div>
  </div>

{% for book in books %}
<div class="cards">
     <div class="image">
        <img src="static/img/books/{{ book.img_name }}" alt="Book">
    </div>
    <div class="title">
        <h3>{{book.name}}</h3>
    </div>
       <h5>Price:{{book.price}}</h5>
    <div class="description">
        <p>{{book.description[0:70]}}...</p>
        <button><a href="{{ url_for('readmore',id=book.book_id) }}" style="text-decoration: none; color:black ;"> Read More..</a></button>
    </div>
</div>
{% endfor %} 
</body>
{% endblock %}
